@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
nav{
    position: absolute;
    left: 0;
    right: 0;
    top: 44;
   display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    max-width: 375px;
    padding: 10px 12px;



}
a {
    list-style: none;
    text-decoration: none;
}
 
/* .nav-links ul li {
list-style: none;
display: inline;
padding: 8px 12px;
position: relative;
justify-content: space-between;
text-decoration: none;
color: brown;
min-width: 375px;
} */

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Theme 2 / Neutral 1 */
    
    color: #28352F;
    

}

.headline {
display: flex;
flex-direction: column;
align-items: center;
padding: 64px 24px;
gap: 58px;

position: absolute;
width: 375px;
height: 726px;
left: 0px;
top: 92px;
background-color: #fff;
background-image: url(images/header-illsutration-mobile@3x.png);
background-repeat: no-repeat;
background-size: cover;
}

h1 {
    
width: 327px;
height: 192px;

/* Theme 2 / H2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

text-align: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#black {
    color: black;
}

#green {
    color: green;
}
.text{
    
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

/* Neutrals/N800 */

color: #172B4D;
width: 327px;
height: 164px;
flex: none;
order: 1;
flex-grow: 0;
/* Inside auto layout */

}
.social-icons{
    width: 170.17px;
    height: 20px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0; 
 list-style-type: none;
 justify-content: space-between;
 display: inline;

}
.social-icons li{
flex-direction: column;
justify-content: space-between;
display: inline-flex;
}
 
.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 67px 24px 64px;
    gap: 58px;
    
    position: absolute;
    width: 379px;
    height: 3286px;
    left: 0px;
    top: 708px;
    background-color: #fff;
     
}

.works .text {
    width: 342px;
    height: 52px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height, or 130% */
    
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    /* Neutrals/N800 */
    
    color: #172B4D;
    
    
    /* Inside auto layout */
    
    flex: none;

    flex-grow: 0;

    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 327px;
height: 125px;
}
.works .indicator {
    width: 48px;
    height: 4px;
    
    /* Success/G300 */
    margin-top: -40px;
    background: #36B37E;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
     order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.card{
display: flex;
flex-direction: column;
align-items: center;
padding: 4px 2px;
gap: 24px;

width: 331px;
height: 2972px;


/* Inside auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px 2px;
gap: 24px;

width: 331px;
height: 2972px;


/* Inside auto layout */

order: 1;
}

.placeholder {
    width: 327px;
    height: 222px;
    
background: #EBF0EE;
/* Theme 2 / Neutral 9 */

border: 1px solid #D0D9D4;
border-radius: 8px;
}

.project{
display: flex;
flex-direction: column;
align-items: center;
padding: 16px;

width: 295px;
height: 222px;
left: calc(50% - 327px/2);
bottom: 0px;

/* Neutrals/N0 */
background-color: #fff;
border: 1px solid #D0D9D4;
border-radius: 8px;
}

.project-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Theme 2 / Neutral 2 */
    
    color: #3A4A42;
        
}
.project .tags {
    display: flex;
flex-direction: row;
align-items: center;
padding: 30px;
gap: 8px;
align-items: center;
width: 305px;
height: 32px;
list-style-type: none;
text-decoration: none;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.project > .tags #ruby{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    
    width: 87px;
    height: 32px;
    
    /* Theme 2 / Neutral 10 */
    
    background: #EBF0EE;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.project > .tags #css{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;

width: 21px;
height: 32px;

/* Theme 2 / Neutral 10 */

background: #EBF0EE;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.project > .tags #javscript{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    
    width: 58px;
    height: 32px;
    
    /* Theme 2 / Neutral 10 */
    
    background: #EBF0EE;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.project > .tags #html{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    
    width: 27px;
    height: 32px;
    
    /* Theme 2 / Neutral 10 */
    
    background: #EBF0EE;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
a{
    color: #3A4A42;
}
button{
  
flex: none;
color: #fff;
flex-grow: 0;
order: 2;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 132px;
height: 48px;
left: calc(50% - 122px/2 + 0.5px);
bottom: 8px;

/* Theme 2 / Primary 2 */
border-style: none;
background: #36B37F;
border-radius: 4px;



/* Theme 2 / Button Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Theme 2 / Neutral 11 */

color: #FFFFFF;


/* Inside auto layout */

flex: none;

flex-grow: 0;
}